.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.third-fourth {
  width: 66.66%;
  height: 100%;
  float: left;
}

.one-fourth {
  width: 33.33%;
  float: left;
  margin: 57px 0 0 0;
}

.thumbnail {
  margin: 0 10px;
  float: left;
  width: 168px;
  height: 94px;
}

.thumbnail-text {
  float: left;
  width: 164px;
  margin: 10px 0;
}

.thumbnail-text p{
  padding: 0;
  margin: 0;
}


