.thumbnail {
  width: 100%;
  margin: 10px 0;
  overflow: auto;
  clear: both;
}

.thumbnail::after, .thumbnail::before {
  content: "";
  display: table;
  min-height: 1px;
}

.thumbnail img {
  display: block;
  float: left;
  margin: 0 10px;
}


.thumbnailtext {
  float: left;
}

.thumbnailtext p {
  padding: 0;
  margin: 0; 
  font-size: 1.4rem;
}

.thumbnaildescription span {
  color: blue;
  font-size: 1rem;
}